<template>
  <h1>Login correcto!!!</h1>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      posts:[]
    }
  },
  mounted () {
    let vue = this;
    axios.get('https://ik1sr1ooud.execute-api.eu-west-1.amazonaws.com/dev/user')
        .then(function (response){
          console.log(response.data)
        })
  }
}
</script>
<style>

</style>